# Runtime Server
PORT=3002
NODE_ENV=production

# Security
SERVER2_INTERNAL_SECRET=your_inter_server_secret

# Optional: Port range for dynamic instances
PORT_RANGE_START=3100
PORT_RANGE_END=3200

# Where instances are stored locally
DATA_PATH=./data/instances
